.dashboard {
  .name {
    font-size: 28px;
    color: white;
  }
  &:hover .actions {
    display: inline-block;
  }
  .actions {
    display: none;
    margin-left: 10px;
  }
  .partRight {
    float: right;
    .action-new {
      margin-left: 10px;
    }
  }
}
